.container-header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    max-width: 95%;
    margin: 0.5rem auto;
}
/* CSS Menu Esquerdo */

.container-header .menu-esquerdo{
    display: flex;
    align-items: center;
    height: 100%;
}
/* ICONE HAMBURGUER */
.container-header .menu-esquerdo #hamburguer-menu{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
.container-header .menu-esquerdo #hamburguer-menu img{
    width: 24px;
    height: 24px;
}

/* LOGO YOUTUBE */
.container-header .menu-esquerdo #logo-ytb{
    display: flex;
    justify-content: center;
    width: 120px;
    height: 40px;
}
.container-header .menu-esquerdo #logo-ytb img{
    height: 100%;
    width: 104px;
}


/* CSS Menu Central */

/* CONTAINER COMPLETO DA BARRA DE PESQUISA LIMITADA A 754PX */
.container-header .middle-content{
    display: flex;
    justify-content: flex-end;
    height: 40px;
    width: 55vw;
    max-width: 754px;
}

/* BARRA COMPLETA DE PESQUISA */
.container-header .middle-content .search-bar{
    background-color: #222222;
    width: 70%;
    display: flex;
    align-items: center;
    height: 100%;
    border: 1px solid #303030;
    border-radius: 1.5rem 0 0 1.5rem;
}

/* INPUT DE DIGITAR */
.container-header .middle-content .search-bar input{
    width: 100%;
    height: 24px;
    padding: 1px 0;
    margin-left: 1rem;
}

/* TECLADO NA BARRA DE PESQUISA */
.container-header .middle-content .search-bar #keyboard{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 27px;
    height: 25px;
}
.container-header .middle-content .search-bar #keyboard img{
    width: 19px;
}

/* BOTÃO DA LUPINHA */
.container-header .middle-content .search-button button{
    background-color:#343438;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 100%;
    border: 1px solid #303030;
    border-radius: 0 1.5rem 1.5rem 0;
    margin-right: 0.5rem;
}
.container-header .middle-content .search-button button img{
    width: 24px;
    height: 24px;
}
.container-header .middle-content .audio-search{
    height: 100%;
}

/* BOTÃO DO AUDIO */
.container-header .middle-content .audio-search button{
    background-color: #343438;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    border: 0.5px solid #303030;
    border-radius: 2rem;
}
.container-header .middle-content .audio-search button img{
    width: 24px;
    height: 24px;
}


/* CSS Menu Criar */

/* PAI DO BOTÃO CRIAR/NOTIFICAÇÃO E USER */
.container-header .criar{
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
}
.container-header .user-actions{
    height: 100%;
    display: flex;
    align-items: center;
}
/* BOTÃO CRIAR NA TELA */
.container-header .user-actions .create-button{
    background-color: #343438;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 86px;
    height: 35px;
    padding: 0 12px;
    gap: 4px;
    border: 1px solid #303030;
    border-radius: 2rem;
}
.container-header .user-actions .create-button button{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
}
.container-header .user-actions .create-button button a img{
    height: 32px;
}
.container-header .user-actions h3{
    height: 20px;
    padding-bottom: 1.45rem;
}
/* BOTÃO NOTIFICAÇÃO */
.container-header .user-actions #notify{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 100%;
    margin-left: 1vw;
}
.container-header .user-actions #notify a img{
    width: 40px;
    height: 40px;
}

/* CSS User Profile */

.container-header .user-profile{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1vw;
}
/* BOTÃO DO PERFIL DO USER */
.container-header .user-profile button{
    background-image: url("../../assets/images/tucano.webp");
    background-position: 0 50%;
    background-size: cover;
    width: 60px;
    height: 100%;
    border-radius: 50%;
    border: 2px solid #303030;
}