/* ESTILIZAÇÃO MENU ESQUERDO HEADER */
.container_Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 3.5rem;
    max-width: 95%;
    margin: 0.5rem auto;
    margin-left: 16px;

    .left_Menu {
        display: flex;
        align-items: center;
        height: 100%;

        #hamburguer_Icon {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 40px;
            height: 40px;

            img {
                width: 24px;
                height: 24px;
            }
        }
        #hamburguer_Icon:hover{
            background-color: #303030;
            border-radius: 50%;
        }

        #youtube_Logo {
            display: flex;
            justify-content: center;
            width: 120px;
            height: 40px;

            img {
                height: 100%;
                width: 104px;
            }
        }
    }
}

/* ESTILIZAÇÃO MENU DO MEIO E DIREITO HEADER */

/* CONTAINER COMPLETO DA BARRA DE PESQUISA LIMITADA A 754PX */
.container_Header {

    .middle_Content {
        max-width: 754px;
        display: flex;
        justify-content: flex-end;
        height: 40px;
        width: 55vw;

        .search_Bar {
            background-color: #222222;
            border: 1px solid #303030;
            border-radius: 1.5rem 0 0 1.5rem;
            width: 70%;
            height: 100%;
            display: flex;
            align-items: center;

            input {
                width: 100%;
                height: 24px;
                padding: 1px 0;
                margin-left: 1rem;
            }

            #keyboard_Search {
                width: 27px;
                height: 25px;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 19px;
                    height: 19px;
                }
            }
        }

        .searchButton {

            button {
                background-color: #343438;
                border: 1px solid #303030;
                border-radius: 0 1.5rem 1.5rem 0;
                width: 64px;
                height: 100%;
                margin-right: 0.5rem;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }

        .audioSearch {
            height: 100%;

            button {
                background-color: #343438;
                border: 0.5px solid #303030;
                border-radius: 2rem;
                width: 40px;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 24px;
                    height: 24px;
                }
            }
        }
    }



    /* Menu Criar antes OAuth 2.0 */
    .loginAccount {
        /* Quero mover eles para direita */
        display: flex;
        align-items: center;
        gap: 0.5vw;
        /* Adicionado */
        .userOptions {
            display: flex;
            align-items: center;
            button{
                width: 40px;
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
            }
        }

        .userLogin{
            /* Estilos para o botão renderizado do Google */
            div {
                min-width: 145px;
            }
        }
    }

    /* Menu após OAuth */
    .criarButton {
        height: 100%;
        gap: 1vw;
        display: flex;
        align-items: center;
        justify-content: space-between;

        .userActions {
            height: 100%;
            display: flex;
            align-items: center;

            #internoButton {
                background-color: #343438;
                border: 1px solid #303030;
                border-radius: 2rem;
                width: 86px;
                height: 35px;
                padding: 0 12px;
                gap: 4px;
                display: flex;
                align-items: center;
                justify-content: center;

                button {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 40px;
                    height: 100%;
                }

                button img {
                    height: 32px;
                }

                h3 {
                    height: 20px;
                    padding-bottom: 1.25rem;
                    padding-right: 0.4rem;
                    background-color: transparent;
                }
            }

            #notifyButton {
                width: 40px;
                height: 100%;
                margin-left: 1vw;
                display: flex;
                align-items: center;
                justify-content: center;

                img {
                    width: 40px;
                    height: 40px;
                }
            }
        }

        .userProfile {
            height: 100%;
            margin-left: 1vw;
            display: flex;
            align-items: center;
            justify-content: center;

            button {
                background-image: url("");
                background-position: 0 50%;
                background-size: cover;
                border-radius: 50%;
                border: 2px solid #303030;
                width: 45px;
                height: 45px;

            }
        }
    }

}