.videos_Section {
    background-color: aqua;
    width: 100%;
    height: auto;

    .videosGrid {
        width: 100%;
        height: auto;
        padding: 24px 16px 0 0;
        display: flex;
        gap: 12px;
        a {
            width: 400px;
            height: 335px;
            display: flex;
            flex-direction: column;
            align-items: center;

            .thumb_main {
                width: 385px;
                height: 222px;
                margin: 8px 0;
                display: flex;
                align-items: center;
                justify-content: center;
                position: relative;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;

                span {
                    font-size: 14px;
                    font-weight: 500;
                    right: 0;
                    bottom: 0;
                    position: absolute;
                    padding: 4px 6px;
                    border-radius: 4px;
                    background: rgba(0, 0, 0, 0.7);
                    color: #fff;
                }
            }

            .legenda_main {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                width: 385px;
                height: auto;
                flex: 1 1 auto;
                gap: 12px;

                .logo_canal {
                    flex: 0 0 auto;

                    span {
                        display: inline-block;
                        background: url("");
                        background-size: cover;
                        background-position: center;
                        width: 36px;
                        height: 36px;
                        border-radius: 50%;
                    }
                }

                .descritivo_video {
                    width: 100%;
                    height: auto;

                    h2 {
                        font-size: 16px;
                        font-weight: 500;
                    }

                    span {
                        font-size: 14px;
                    }

                    .view_time {
                        display: flex;
                        gap: 8px;
                        flex-direction: row;

                        span {
                            font-size: 14px;

                        }

                    }
                }

                .tres_pontinhos {
                    flex: 0 0 auto;

                    #mais_opcoes {
                        border-radius: 50%;
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        img {
                            width: 24px;
                            height: 24px;
                        }
                    }
                }
            }
        }
    }

    .shorts {
        width: 100%;
        height: 45vh;
        background-color: blue;
        margin-top: 16px;
    }
}