@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Double+Ink:wght@100..900&family=Hurricane&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

/* Global Stylesheet */
:root {
    --font-text: 'Roboto', sans-serif;
    --primary-color: #FF0033;
    --color-text: #FFFFFF;
    --back-color-dark: #0F0F0F;
    --back-color-light: #eee6e6;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: var(--back-color-dark);
    color: var(--color-text);
    font-family: var(--font-text);
    img{
        background-color: transparent;
    }
}